n8n-workflows/audio-correction.json
{
  "name": "Audio Correction",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audio-correction",
        "options": {
          "rawBody": false
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "const webhookSecret = $input.first().json.headers?.['x-webhook-secret'];\n\nif (webhookSecret !== $env.N8N_WEBHOOK_SECRET) {\n  throw new Error('Invalid webhook secret');\n}\n\nconst data = $input.first().json.body;\nreturn [{ json: data, binary: $input.first().binary }];"
      },
      "name": "Validate Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.AZURE_OPENAI_ENDPOINT }}/openai/deployments/{{ $env.AZURE_OPENAI_WHISPER_DEPLOYMENT }}/audio/transcriptions?api-version={{ $env.AZURE_OPENAI_API_VERSION }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.AZURE_OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "audio"
            },
            {
              "name": "language",
              "value": "de"
            },
            {
              "name": "response_format",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "name": "Azure Whisper STT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.AZURE_OPENAI_ENDPOINT }}/openai/deployments/{{ $env.AZURE_OPENAI_GPT_DEPLOYMENT }}/chat/completions?api-version={{ $env.AZURE_OPENAI_API_VERSION }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.AZURE_OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a German language tutor. The student spoke German (transcribed from audio). Correct grammar and vocabulary. Note: some errors may be transcription artifacts vs actual speaking errors. Explain corrections in simple English. Respond as valid JSON: {\\\"corrected\\\": \\\"...\\\", \\\"explanation\\\": \\\"...\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Please correct this transcribed German speech: {{ $json.text }}\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 1000\n}",
        "options": {}
      },
      "name": "Azure GPT-5.2 Correct",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [910, 300]
    },
    {
      "parameters": {
        "functionCode": "const response = $input.first().json;\nconst content = response.choices?.[0]?.message?.content || '{}';\nconst transcription = $('Azure Whisper STT').first().json.text || '';\n\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch {\n  parsed = {\n    corrected: content,\n    explanation: 'The AI returned a non-structured response.'\n  };\n}\n\nreturn [{\n  json: {\n    original: transcription,\n    transcription: transcription,\n    corrected: parsed.corrected || '',\n    explanation: parsed.explanation || ''\n  }\n}];"
      },
      "name": "Parse Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Validate Request", "type": "main", "index": 0 }]
      ]
    },
    "Validate Request": {
      "main": [
        [{ "node": "Azure Whisper STT", "type": "main", "index": 0 }]
      ]
    },
    "Azure Whisper STT": {
      "main": [
        [{ "node": "Azure GPT-5.2 Correct", "type": "main", "index": 0 }]
      ]
    },
    "Azure GPT-5.2 Correct": {
      "main": [
        [{ "node": "Parse Response", "type": "main", "index": 0 }]
      ]
    },
    "Parse Response": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  }
}
